## NEXT IMAGE
NEXT_PUBLIC_IMAGE_REMOTE_HOSTNAME=

## GRAPHQL
GQL_TOKEN=
NEXT_PUBLIC_GQL_CLIENT_TOKEN=
NEXT_PUBLIC_GQL_URL=

## LINK HREF REPLACER
NEXT_PUBLIC_LINK_REPLACE=

## ANIMATION
NEXT_PUBLIC_ENABLE_ANIMATION=

## S3 STORAGE
S3_BUCKET=
S3_ACCESS_KEY_ID=
S3_SECRET_ACCESS_KEY=
S3_REGION=
S3_ENDPOINT=

## GOOGLE APP SCRIPT
GAS_URL=

## CONTACT PERSON
NEXT_PUBLIC_CONTACT_PERSON=